.destaque{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria-light);
    padding: var(--padding-5xl) 0;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.destaque-titulo{
    color: var(--cor-primaria-light);
}

.destaque-titulo > span{
    color: var(--cor-terciaria-dark);
}